body{
	background-color: blue;
	text-decoration: underline;
	background-image: url(http://25.media.tumblr.com/tumblr_maggwrqQVS1r9ge8bo1_1280.jpg);
}
.about-me h1{
	text-align: center;
	border: 1px solid yellow;
	background-color: dimgray;
}
.my-name h1{
	text-align: center;
	border: 2px solid yellow;
	background-color: dimgray;
}
.hobbies h1{
	text-align: center;
	border: 3px solid yellow;
	background-color: dimgray;
}
.greydout:hover{
  	-webkit-opacity: 0.25;
  	-moz-opacity: 0.25;
  	opacity: 0.25;
 }
.hamburger-menu
{
    width:30px;
    height:5px;
    background-color:white;
    border-radius:5px;
    position:absolute;
}
.hamburger-menu:after, .hamburger-menu:before
{
    content: '';
    width: 100%;
    height:5px;
    background-color:white;
    position:absolute;
    border-radius:5px;
}

.hamburger-menu:after
{
    top:10px;
}

.hamburger-menu:before
{
    top:20px;
}